<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{{ message }}
<hr>
<h3>/send-letter</h3>
<form method="POST" action="/send-letter">
    {{ form1.hidden_tag() }}
    {{ form1.eppn.label }} {{ form1.eppn(size=10) }}
    {{ form1.nin.label }} {{ form1.nin(size=10) }}
    <input type="submit" value="Submit">
</form>
<hr>
<h3>/verify-code</h3>
<form method="POST" action="/verify-code">
    {{ form2.hidden_tag() }}
    {{ form2.eppn.label }} {{ form2.eppn(size=10) }}
    {{ form2.verification_code.label }} {{ form2.verification_code() }}
    <input type="submit" value="Submit">
</form>
</body>
</html>